API_URL=https://tribu-ti-staffing-desarrollo-afangwbmcrhucqfh.z01.azurefd.net/ipf-msa-productosfinancieros/
DEFAULT_IMAGE_URL = https://cdnbancawebprodcx6.azureedge.net/green/static/items/pbw-pichincha-banca-web-public-ang/assets/logo_pichincha.svg